@font-face {
    font-family: myFont;
    src: url('/public/storm.ttf') format('truetype');
}
@font-face {
    font-family: myFont2;
    src: url('/public/jai.TTF') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: myFont2;
}

.notfound{
    height: 100vh;
    background-color: #0a1e31;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#otsikko {
    color: #7289da;
    width: 60%;
    height: 10vh;
    display: flex;
    align-items:center;
    font-size: 40px;
    font-weight: 2000;  
    font-family: myFont;
    position: relative;
}

#otsikko span {
    font-family:'Times New Roman';
    font-weight: 90;
    color: #ffffff;
    font-size: 40px;
    display: flex;
}

#NavId {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #1e2124;
    z-index: 3;
}



::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.log{
    color: #6d5aae;
    font-size: large;
    padding:  25px;
    transition: all ease 0.5s;
}

.log:hover{
   
    animation: underline 0.5s ease forwards;
   
}

.logot {
   display: flex;
    padding: 25px;    
    transition: all ease 0.5s;
}

.logot:hover{
    transform: scale(0.7);
    cursor:pointer;
    text-decoration: underline;
   display: flex;
}

.navbuttons:hover {
    color: #7289da;
    cursor: pointer;
   
  
}
.copy{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#FooterId {
    color: white;
    background-color: #7289da;
    height: 7vh;
    width: 100%;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.curve{
    position: relative;
   
}
.curves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    overflow-x: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
animation: wave ease-in-out 4s infinite 
}
@keyframes wave {
    0% {width: 100%;}
  50% {width: 200%;}
  100% {width: 100%;}
  
 }

.curves svg {
    position: relative;
    display: block;
    width: calc(100% + 20px);
    height:70px;
}

.curves .shape-fill {
    fill: #2d2e3a;  
}

#ekaosio {
    color: rgb(255, 255, 255);
    background: #2d2e3a;
    transition: background-color 0.3s ease;
    display: flex;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#teksti1{
    position: absolute;
    font-size: large;
    text-align: center;
    z-index: 2;
}
#teksti1 span {
    position: absolute;
    color: #ffffff;
    font-size: x-large;
    top: 15vh;
    left: 40%;
}
#teksti1 span:hover{
    color: #9e01ff;
    font-size: x-large;
    cursor: pointer;
}

#teksti2{
    position: absolute;
    font-size: large;
    text-align: center;
    z-index: 1;
}

#teksti2 span {
    position: absolute;
    color: #ffffff;
    font-size: x-large;
    top: 15vh;
    left: 40%;
}

#teksti2 span:hover{
    color: #9e01ff;
    font-size: x-large;
    cursor: pointer;
}

#tokaosio {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #1e2124, #2b2e32 45%, #3a3d40 55%, #1e2124);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#teksti3{
    position: absolute;
   text-align: center;
    font-size: larger;
   
}

#reactlogo {
   padding-top:10%;
   height: 4vh;
   width: 4vh;
   
}

/*animations ekaosio*/

@keyframes underline {
    0%{
        text-decoration:none ;
      
    }

    50%{
   
      
       
    }

    100%{
       
        text-decoration:underline ;
        text-decoration-color:#6d5aae;
        text-decoration-thickness: 2px;
       color: white;
        text-underline-offset:20%;
    }
    
}

@keyframes slide2 {
    0%{
        opacity: 0;
        transform: translateX(300%);
    }
 
    100%{
    
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideback2 {
    0%{
        opacity: 1;
        transform: translateX(0%);
    }
 
    100%{
    
        opacity: 0;
        transform: translateX(300%);
    }
}

@keyframes slide {
    0%{
        opacity: 1;
        transform: translateX(0);
        

    }
    100%{
        transform: translateX(-300%);
        opacity: 0;
    }
}

@keyframes slideback {
    0%{
        opacity: 0;
        transform: translateX(-300%);
        

    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
       
        opacity: 1;
    }
}
@keyframes fadeout {
    0%{
        opacity: 1;
    }
    100%{
      
        opacity: 0;
    }
}

.slide{
     animation: slide 1s ease-in forwards;   
}
.slide2{
    animation: slide2 1s ease-in forwards;
}

.slideback{
    animation: slideback 1s ease-out forwards;
 
}
.slideback2{
    animation: slideback2 1s ease-out forwards;
    opacity: 0;
}

.fadein{
    animation: fadein 1s ease-in forwards ;
    opacity: 0;
}
.fadeout{
    animation:fadeout 1s ease-in forwards ;
}


/*CONTACT ME PAGE */

#contactpage{
    height: 100vh;
    color: #000000;
    background:#2d2e3a;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#ohje{
    color: #7289da;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10%;
    font-size: large;
}

.Tekstiosa{
    background-color: #2d2e3a;
    border-color:#7289da;
    color: white;
    border-style:solid ;
    border-width: 3px;
    padding-inline-end: 5%;
    width: 50%;
   
    font-size: large;
}

.Tekstiosa::placeholder{
    color: #7289da;
    font-size: x-large;
    font-family:'Courier New' ;
}

#email{
    margin: 2%;
   

}

#MSGotsikko{
    margin: 1%;


}

#viesti{
    height: 19%;
   
    


}

#send{
    background: #7289da;
    border: #7289da;
    border-radius: 0%;
    border-width: 6px;
    width: 5vh;
    height: 3vh;
    padding-right: 5%;
}

#send:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*ANSIOLUETTELO ANIMATIONS*/
@keyframes fadein {
   0% {
        opacity: 0;
    }

100% {
        opacity: 1;
    }
    
}

@keyframes pulse {
    0% {
      box-shadow: 0px 0px 20px #7289da;
    }
   50% {
      box-shadow: 0px 0px 30px #7289da;
    }
    100% {
        box-shadow: 0px 0px 40px #7289da;
    }
  }

  @keyframes slideoikea {
    0%{
        opacity: 0;
        transform: translateY(300%);
    }
 
    100%{
    
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slidevasen {
    0%{
        opacity: 0;
        transform: translateY(-300%);
    }
 
    100%{
    
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes slideup {
    0%{
        transform: translateY(0);
    }
 
    100%{
        transform: translateY(-600%);
    }

}

@keyframes slideupReverse {
    0%{
        transform: translateY(-600%);
    }
 
    100%{
        transform: translateY(0);
    }

}

.animate1{
    animation: slideoikea 0.5s ease-in-out forwards ;
    
}

.animate2{
    animation: slidevasen 0.5s ease forwards ;
   
}

.animate3{
    animation: slideoikea 0.5s ease forwards ;
    
}

.animate4{
    animation: slideoikea 0.5s ease-in-out forwards ;
    
}

.animate5{
    animation: slidevasen 0.5s ease forwards ;
    
}

.animate6{
    animation: slideoikea 0.8s ease-in-out forwards ;

}

.animate7{
    animation: slideup 3s ease-out forwards;
}

.animate8{
    animation: slideupReverse 0.5s ease-out  ;

}





/*ANSIOLUETTELO*/
#CV{
    background: #2d2e3a;
    margin: 0;
    padding: 0;
    justify-content: space-between;   
    overflow-x: hidden;
}



/*ENSINMÄINEN OSIO*/

#yläosa{
    height: 100vh;
    display: flex;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    background: #2d2e3a;
    
}

#otsikkocv{
    padding-left: 20%;
}

#photo{
    width: 30vh;
    height: 30vh;
    border-radius: 360%;
    box-shadow: 0px 0px 20px rgb(255, 255, 255); 
    animation: pulse 3s  infinite alternate-reverse ease-in-out;
}

.tiedot{
    font-size: small;
   background: #2d2e3a;
}

#esittelytxt{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    font-size: small;
}


/*TOINEN OSIO*/
#scrollContainer{
    overflow-x: scroll;
    white-space: nowrap;
    background: #2d2e3a;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 20%;
    position: sticky;
    

}



#Koulut{
    padding-left:25%;
    opacity: 0;
    width: 100vw;
}

#Kortit{
    opacity: 0;
}
#Intti{

    opacity: 0;
}
#Työ{
    opacity: 0;
 
}
#Kielet{
    opacity: 0;
    
}

#Harrastukset{
    padding-right: 25%;
    opacity: 0;
}


p,li{
    color: white;
} h1,h2{
    color: #7289da;
}
/*--------------------LOG IN PAGE------------------*/
#loginData{
    padding:50%;
    justify-content: center;
}

.loginBG{
    height: 100vh;
    background: #27ff68;
}


/*--------------------REGISTER------------------*/

#register{
    height: 100vh;
   padding: 50%;
}


/*MOBIILI LAITTEILLE*/

@media only screen and (max-width: 375px) {
   *{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x:hidden
   }

   #ekaosio{
    height: 90vh;
    background: linear-gradient(to right, #45517d, #7289da, #45517d);
   }

   #teksti1{
    position: absolute;
    font-size: small;
    text-align: center;
    padding-bottom: 10vh;
    
    z-index: 2;
}
#teksti1 span {
    position: absolute;
    color: #ffffff;
    font-size: x-large;
    top: 15vh;
    left: 33%;
}

#teksti2{
    position: absolute;
    font-size: small;
    text-align: center;
    padding-bottom: 10vh;
    z-index: 1;
    
}

#teksti2 span {
    position: absolute;
    color: #ffffff;
    font-size: x-large;
    top: 11vh;
    left: 36%;
}

#teksti3{
    position: absolute;
   text-align: center;
    font-size: small;
}


#reactlogo {
    padding-top:10%;
     height: 4vh;
     width: 4vh;
 }


 .curves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    overflow-x: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
}


